/* resetCSS */
* {
  margin: 0;
  padding: 0;
  font-family: "M PLUS 1p";
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* header */
.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}

.header h1 {
  background-color: rgb(57, 62, 70);
  color: white;
  font-size: 25px;
  padding: 5px 15px;
}

.header ul {
  display: flex;
  align-items: center;
}

.header li {
  padding-left: 30px;
}

/* mainvisual */
.mainvisual img {
  width: 100%;
}

/* About */
.about {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

.about h2 {
  display: inline-block;
  font-size: 30px;
  border-bottom: solid 1px black;
}

.about .profile {
  padding-top: 30px;
  display: flex;
  align-items: center;
  text-align: left;
  width: 500px;
  margin: 0 auto;
}

.about .profile2 {
  padding-left: 50px;
}

.about img {
  width: 100px;
  border-radius: 50px;
}

/* bycycle */
.bicycle {
  text-align: center;
  padding: 0 20px;
}

.bicycle h2 {
  display: inline-block;
  font-size: 30px;
  border-bottom: solid 1px black;
}

.bicycle img {
  width: 100%;
}

.bicycle ul {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.bicycle li {
  width: 32%;
}
